.footer {
  margin-top: 90px;
  /* margin: 0px 40px 20px 40px; */
  text-align: center;
  color: #474747;
  /* font-size: small; */
}

.footer p {
  margin: 5px 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 40px;
}
